body { background-color: white; color: #555; }
header { background-color: black; color: #bbb; }
div.left-stripe { background-color: black; color: #aaa; }

header * { text-shadow: #000 0px 2px 3px; }
header a, header a:visited { color: #70dbff; }
header a:hover { color: #fff; text-shadow: #ddd 0px 0px 10px; }

footer { border-top: 1px solid #ccc; color: #999; }

.linkette { background: #eee; }

.other_projects .linkette { background: #ddd; }

h1, h2, h3, h4, h5, h6{ color: #222; text-shadow: #999 0 0.05em 0.1em;}

.paper {  border: 1px solid #999; padding: 1em; background: #fbfbf3;}