body { font-family: "DejaVu Sans", "verdana", sans-serif; font-size: 0.8em; }

a { text-decoration: none; }


a:hover { text-decoration: underline; }

p { line-height: 1.6em;}

footer { font-size: 0.7em; }

p { margin: 0 0 1.5em 0;}

h2, h3, h4 { font-weight: normal; }

h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.2em; }


h3 { margin-top: 1.6em; }
h3:first-child { margin-top: 0; }
body.lt9 h3 { margin-top: expression(this.previousSibling==null?"0":"1.6em"); }

h2 { margin-top: 1.2em; }
h2:first-child { margin-top: 0; }
body.lt9 h2 { margin-top: expression(this.previousSibling==null?"0":"1.2em"); }

h4 { margin-top: 1.2em; }
h4:first-child { margin-top: 0; }
body.lt9 h4 { margin-top: expression(this.previousSibling==null?"0":"1.2em"); }


.flare, .name, .main-navigation { font-weight: normal; font-family: 'Yanone Kaffeesatz', sans-serif; }

.wf-loading .main-navigation, .wf-loading .name { visibility: hidden; }
.wf-yanonekaffeesatz-n4-active .main-navigation, .wf-yanonekaffeesatz-n4-active .name,
.wf-inactive .main-navigation, .wf-inactive .name { visibility: visible; }


.whisper {font-size: 20px; line-height: 15px; }
.shout {font-size: 35px; line-height: 35px;}
.name .shout {font-size: 45px; line-height: 45px;}

.main-navigation { text-align: center; font-size: 30px; line-height: 45px; }