body { font-family: "DejaVu Sans", "verdana", sans-serif; font-size: 0.8em; }

a { text-decoration: none; }


a:hover { text-decoration: underline; }

p { line-height: 1.6em;}

footer { font-size: 0.7em; }

p { margin: 1.5em 0 0em 0;}

h2, h3 { font-size: 2em; font-weight: normal; }
