/*******************************************************************************
 * grid system
 * see http://www.usabilitypost.com/2009/06/19/the-1kb-css-grid-part-3/
 */

.grid_1 { width:6.25%; } /* 60 */
.grid_2 { width:14.583%; } /* 140 */
.grid_3 { width:22.917%; } /* 220 */
.grid_4 { width:31.25%; } /* 300 */
.ie .grid_4 { width:30.50%; } /* 300 */
.grid_5 { width:39.583%; } /* 380 */
.ie .grid_5 { width:38%; } /* 380 */
.grid_6 { width:47.2%; } /* 460  Grrrr bloody exploder :( */
.grid_7 { width:56.25%; } /* 540 */
.ie .grid_7 { width:56%; } /* 540 */
.grid_8 { width:64.58%; } /* 620 */
.ie .grid_8 { width:63.00%; } /* 620 */
.grid_9 { width:72.917%; } /* 700 */
.grid_10 { width:81.25%; } /* 780 */
.grid_11 { width:89.583%; } /* 860 */
.grid_12 { width:97.917%; } /* 940 */
.column { margin: 0 1%; overflow: visible; float: left; }
.row { width: 97.959%; margin: 0 1.064%; overflow: hidden; }

/* Original */

/*
.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}
*/



/*******************************************************************************
 * layout
 */
html { overflow-x: hidden; }
div#container { max-width: 980px; min-width: 630px; margin: 0 auto;  }
div#main {position: relative; z-index: 200;}
body.ie6 div#container { width: expression(Math.max(Math.min(document.documentElement.clientWidth, 980), 630)); }

.module { margin-bottom: 4em;  }

img.thumb { display: block; float: left;  margin-right: 2%; width: 40.425%;
    margin-bottom: -1px;
    border-right: 1px solid #252525; border-bottom: 1px solid #252525; }
.ie6 img.thumb {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/image.gif", sizingMethod="scale");}
.ie7 img.thumb { -ms-interpolation-mode: bicubic; }

.module .text { padding-right: 2%; float: right; width: 55%; margin-top: 1em;}

p { margin-bottom: 0.6em; }

header { height: 16em; position: relative; margin: 0 2%; z-index: 100; padding: 0 0 0 0;}

.nav-block {position: absolute; top: 7em; height: 52px; width:31.00%; }
.nav-block-left {left: 0; }
.nav-block-right {right:0;}
.nav-block ul { margin: 0; padding: 0; height: 100%; width: 100% }
.nav-block li { display: block; float: left; margin: 10px 0 0 0; width: 49%; text-align: center;}

.misc-nav { height: 1.7em; padding-top: 0.3em; qposition: relative; qtop: -2em;}
.misc-nav .also-on , .misc-nav .email-me{ position: relative; z-index: 3;}
.misc-nav .also-on { float: right; }
.misc-nav .email-me{ float: left; }

.logo { margin: 0 auto; width: 100%; position: absolute; top:  7em; left: 0px;}

.logo img { width: 31.987%; display: block; margin: -20px auto 0; position: relative; height: 89px; }

.aura { margin-left: -300px ; width: 600px; height: 290px; position: absolute; top: -75px; left: 50%; z-index: 0;}

#kaboom { width: 300px; height: 300px; position: absolute; top: 0; left:0; z-index: 1; visibility: hidden;}

.no-js #kaboom { display: none; }

footer { text-align: center; margin: 1em 0;}

.chatter { padding: 1em; margin-bottom: 1em;}

.illo-wrapper { padding: 1em 1em 2em; text-align: center; overflow: hidden; margin-bottom: 1em;}
    
.csstransforms .illo-wrapper { margin: 1em 0 2em;
    transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    /* crappily, webkit doesn't antialias the edges of rotated images so they
      look hugely ugly https://bugs.webkit.org/show_bug.cgi?id=39753 */
    -webkit-transform: rotate(2deg);
    }

.illo-inner img { width: 100%; }

form.contact table { width: 100%; table-layout: fixed; }
form.contact table th { width: 10em; text-align: left; padding: 0 0 1em 0;}
form.contact table td { vertical-align: middle; }
form.contact table input.text, form.contact table textarea { width: 95%; }




/*******************************************************************************
 * colours and backgrounds
 */
.module { background: white none;; }
.module h3 { color: white; background-color: #252525; padding: 0.1em 0;}
.nav-block ul{ background-image: url(/static/images/nav-block.png); color: #ddd;}

.misc-nav { background-image: url(/static/images/nav-block.png); color: #999;}
.misc-nav { background-position: left bottom; }
.misc-nav a, .misc-nav a:link, .misc-nav a:visited,
footer a, footer a:link, footer a:visited { color: #8599ae; } 
.misc-nav a:hover, footer a:hover { color: #bac6d1; } 

.nav-block-left ul { background-position: left middle; }
.nav-block-right ul { background-position: right center; }

.nav-block ul:after  { position: absolute; width: 6px; height: 52px; top: 0; 
    background-image: url(/static/images/nav-block.png);
    content: "";
    }

.nav-block-left ul:after  { right: -6px; background-position: right center; }
.nav-block-right ul:after  { left: -6px; background-position: left center; }

.module, .chatter, .illo-wrapper {     box-shadow: 0 3px 6px #222;
    -moz-box-shadow: 0 3px 6px #222;
    -webkit-box-shadow: 0 3px 6px #222;
 }
 
 .aura {  } 

.lt7 img, .lt7 div.nav-block ul, .lt7 div.misc-nav  { behavior: url(/static/plugins/iepngfix/iepngfix.htc) }


.nav-block a, .nav-block a:link, .nav-block a:visited { color: #ccc; text-decoration: none;}
.nav-block a:hover { color: white; text-decoration: underline; }

a.kaboom:link, a.kaboom:visited, a.kaboom:link { color: white;
    text-shadow: 0 0px 14px white;
    -moz-text-shadow: 0 0px 14px white;
    -webkit-text-shadow: 0 0px 14px white;
}

footer { color: #bbb;  }

.chatter,.illo-wrapper { background: white; }

th .annotation { color: #666;}

.error { color: darkgoldenrod; }

/*div#container { background-color: #1d2a5a; }
div.row {background-color: #151f43; }
div.column {background-color: #344ca3; }*/



/*******************************************************************************
 * fonts
 */
h1, h2, h3, h3, h4, .nav-block .nav-link { font-family: 'Yanone Kaffeesatz'; font-weight: normal;  }
h2 { font-size: 3em;  }
h3 { font-size: 2.2em;  }
h4 { font-size: 1.4em;  }
.nav-block .nav-link { font-size: 1.7em; }
p {line-height: 1.5em;}
th .annotation { font-weight: normal; font-style: italic; font-size: 0.9em;}


















