/*
 * grid system
 * see http://www.usabilitypost.com/2009/06/19/the-1kb-css-grid-part-3/
 */
/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:6.25%; } /* 60 */
.grid_2 { width:14.583%; } /* 140 */
.grid_3 { width:22.917%; } /* 220 */
.grid_4 { width:31.00%; } /* 300 */
.ie .grid_4 { width:30.50%; } /* 300 */
.grid_5 { width:39.583%; } /* 380 */
.ie .grid_5 { width:38%; } /* 380 */
.grid_6 { width:47.2%; } /* 460  Grrrr bloody exploder :( */
.grid_7 { width:56.25%; } /* 540 */
.ie .grid_7 { width:56%; } /* 540 */
.grid_8 { width:63.00%; } /* 620 */
.grid_9 { width:72.917%; } /* 700 */
.grid_10 { width:81.25%; } /* 780 */
.grid_11 { width:89.583%; } /* 860 */
.grid_12 { width:97.917%; } /* 940 */
.column { margin: 0 1%; overflow: hidden; float: left; }
.row { width: 97.959%; margin: 0 1.064%; overflow: hidden; }

/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

/*
.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}
*/


/*
 * layout
 */
div#container { max-width: 980px; min-width: 630px; margin: 0 auto; }
body.ie6 div#container { width: expression(Math.max(Math.min(document.documentElement.clientWidth, 980), 630)); }

.module { margin-bottom: 2em;  }

img.thumb { display: block; float: left;  margin-right: 2%; width: 40.425%; border-right: 1px solid #252525; }
.ie6 img.thumb {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/image.gif", sizingMethod="scale");}
.ie7 img.thumb { -ms-interpolation-mode: bicubic; }

.module .text { padding-right: 2%;}


header { height: 180px; position: relative; margin: 0 2%; }

.nav-block {position: absolute; top: 66px; height: 52px; width:31.00%; }
.nav-block-left {left: 0;}
.nav-block-right {right:0;}

.logo { margin: 0 auto; width: 100%; position: absolute; top: 66px; left: 0px;}

.logo img { width: 31.987%; display: block; margin: -20px auto 0; position: relative; height: 89px; }

.lt7 .logo img {   }

.aura { margin-left: -300px ; width: 600px; height: 290px; position: absolute; top: -75px; left: 50%; z-index: 0;} 

/*
 * colours and backgrounds
 */

.module { background: white none;; }
h3 { color: white; background-color: #252525; padding: 0.1em 0;}
.nav-block { background-image: url(/static/images/nav-block.png); }
.nav-block-left  { background-position: left middle; }
.nav-block-right { background-position: right center; }

.nav-block:after  { position: absolute; width: 6px; height: 52px; top: 0; 
    background-image: url(/static/images/nav-block.png);
    content: "";
    }

.nav-block-left:after  { right: -6px; background-position: right center; }
.nav-block-right:after  { left: -6px; background-position: left center; }

.module {     box-shadow: 0 3px 6px #222;
    -moz-box-shadow: 0 3px 6px #222;
    -webkit-box-shadow: 0 3px 6px #222;
 }
 
 .aura {  } 

.lt7 img, .lt7 div.nav-block  { behavior: url(/static/plugins/iepngfix/iepngfix.htc) }


/*div#container { background-color: #1d2a5a; }
div.row {background-color: #151f43; }
div.column {background-color: #344ca3; }*/


/*
 * fonts
 */

h3 { font-family: 'Yanone Kaffeesatz'; font-size: 2.4em; font-weight: normal;  }




















