{% extends "stormcrayon.html" %}
{% load macros %}


{% block main %}
<div class="row">
    <div class="column grid_8">
        <div class="chatter">
            <h2>Executive Summary</h2>
            <p>I'm a designer and programmer, specialising in front-end web development.
            
            <h2>Background</h2>
            <p>I've been a computer science student, a unix sysadmin, a
            company director, a developer (in various languages), a technical
            writer, and a graphic artist.
            
            <p>After studying genetics and computer science, I moved back home to <a
            href="http://en.wikipedia.org/wiki/Guernsey">Guernsey</a> cut my teeth
            being a Unix admin at a local ISP. After some time I joined the board of
            directors and we grew the company by a factor of ten over the next few
            years. I was fulfilling a lot of technical roles there, supporting the
            support staff, building new services, and giving technical consults to
            the web design team. (I also learnt a lot about pressure, sleep
            deprivation, and time management.)
            
            <p>Moving to London was something I'd wanted to do for a while, so when
            we sold the ISP to a larger a corporation (and after a sabbatical), I
            relocated and started work as a graphic designer and developer. And here
            I am.
    
            
            <h2>Technical Interests</h2>
            <p>Dynamic languages are where it's at for me, Python and JavaScript being my
            enlightened choices for the 21<sup>st</sup> century. I've also worked
            in Java, C, Perl, and PHP.
            
            <p>I'm a fan of the following tools and frameworks, in no particular order:
            <a href="http://jquery.com/">jQuery</a>,
            <a href="http://jqueryui.com/">jQuery UI</a>,
            <a href="http://www.djangoproject.com/">Django</a>,
            <a href="http://www.sqlalchemy.org/">SQLAlchemy</a>,
            <a href="http://flask.pocoo.org/">Flask</a>.
        </div>
    </div>
    <div class="column grid_4">
        <div class="illo-wrapper">
            <div class="illo-inner">
                <img class="illo" src="/static/images/mug-shot.jpg" alt=""/>
            </div>
        </div>
        
        <div class="chatter">
            <h4>Location</h4>
            <p>London, UK
            
            <h4>Email</h4>
            <p><a class="protected-email" href="mailto:neil.decarteret@gmail.com">neil.decarteret@gmail.com</a>
        </div>
    </div>
</div>
{% endblock %}

