<!doctype html>
<!--
  Check out YOU and your fancy newfangled "View Source" option!
  
  Well you're *completely welcome* to have a nose round and see how this site is
  made. Disecting live websites is definitely the best way of learning
  practical web design. In fact, this message was inspired by a similar one I
  found while dismantling http://hicksdesign.co.uk/, so thanks to Jon Hicks
  for that.
  
  If you've got any questions or criticism, drop me a email (see top of page.)
  All the code here is open source (either mine or someone else's) so you can
  totally copy anything, code-wise. The actual text and pictures are mine,
  though. Copying them would be bogus and uncool.
  
  Love,
  Neil
-->
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Neil de Carteret{% endblock %}</title>
  <meta name="description" content="{% block description %}Neil de Carteret's website{% endblock %}">
  <meta name="author" content="{% block authon %}Neil de Carteret{% endblock %}">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.5;">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/static/images/icon.png">
  <link rel="stylesheet" href="/static/css/reset.css?v=1">
  
  <script src="/static/js/modernizr-1.5.min.js"></script>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Yanone Kaffeesatz' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'false';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();

  </script>  
  {% block styles %}{# MAGICK!!! #}{% endblock %}
  
</head>
<!--[if lt IE 7 ]><body class="ie6 lt7 lt8 lt9"><![endif]-->
<!--[if IE 7 ]><body class="ie7 gt6 lt8 lt9"><![endif]-->
<!--[if IE 8 ]><body class="ie8 gt6 gt7 lt9"><![endif]-->
<!--[if IE 9 ]><body class="ie9 gt6 gt7 gt8"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><body><!--<![endif]-->

  <div id="container">
    {% block header %}Boilerplate header{% endblock %}
    
    <div id="main">
        {% block main %}Boilerplate main{% endblock %}
    </div>
    
    <footer>
        {% block footer %}Boilerplate footer{% endblock %}
    </footer>
  </div> <!-- end of #container -->

  <!--[if lt IE 7 ]>
    <script src="/static/js/dd_belatedpng.js?v=1"></script>
  <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="/static/js/jquery-1.4.2.min.js"><\/script>')</script>
  <script src="/static/plugins/fancybox/jquery.fancybox-1.3.1.js?v=1"></script>
  <script src="/static/js/plugins.js?v=1"></script>
  <script src="/static/js/jquery.swoosh.js?v=1"></script>
  <script src="/static/js/script.js?v=1"></script>


  
  <!--<script src="/static/js/profiling/yahoo-profiling.min.js?v=1"></script>-->
  <!--<script src="/static/js/profiling/config.js?v=1"></script>-->

  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']]; 
   (function(d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
  {%block scripts%}{%endblock%}
  
  
</body>
</html>