{% extends "boilerplate.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/frame.css">
{% endblock %}



{% block header %}
    <header>
        <p class="back-to-site"><a href="{% url stormcrayon.core.views.portfolio %}#{{id}}"><< Back to Neil de Carteret's portfolio</a>
        <p class="remove-frame"><a href="{{url}}" target="_top">Remove this frame</a>
        <h2 class="name">{{link.name}}</h2>
    </header>
    <img class="aura" src="/static/images/aura.png" alt="">
{% endblock %}



{% block main %}
    <div id="frame-wrapper">
        <iframe src="{% firstof params.url url %}" class="" >
    </div>
{% endblock %}



{% block footer %}
{% endblock %}
