{% extends "stormcrayon.html" %}
{% load macros %}

{% macro linkette link %}
    <p class="linkette">
    {% if link.image %}
        <a href="{{link.address}}" target="_new">
            <img src="{{link.image.thumbnail.absolute_url}}"
                 alt="Thumbnail image of {{link.name}}"
                 title="{{link.name}}">
        </a>
    {% endif %}
    {{link.description_html|safe}}
    </p>
{% endmacro %}

{% block main %}
    <h2>Websites I've made</h2>
    {% for link in sites %}
        {% usemacro linkette link %}
    {% endfor %}
    
    <h2>Other projects</h2>
    {% for link in other %}
        {% usemacro linkette link %}
    {% endfor %}
{% endblock %}

