{% extends "stormcrayon.html" %}
{% load macros %}


{% block main %}
<!--<iframe src="/static/pdf/Neil de Carteret.pdf"
    style="width:100%; height:500px;"/>-->


<!---->
<div class="row">
    <div class="column grid_12">
        <p>
            You can also download my resum&eacute; as
            <a href="/static/docx/Neil de Carteret.docx"> a Word .docx </a>
            or
            <a href="/static/pdf/Neil de Carteret.pdf"> a PDF </a>
            if that floats your boat.
        </p>
        <div class="paper">
        <h2>Neil de Carteret</h2>
        
        <p>Designer, front-end web developer, and Python programmer
        
        <p>
            Telephone: 	<strong>07590 526 924</strong><br/>
            Email: 		<strong>neil.decarteret@gmail.com</strong><br/>
            Website: 	<strong>Soon, honestly</strong>
        
        <h3>Main skills</h3>
        <p>JavaScript, jQuery, jQuery UI, CSS, graphic design
        
        <h3>Other skills</h3>
        <p>Python, Python web frameworks, SQL, Linux server administration, internet
        protocols
        
        <h3>Currently</h3>
        <h4>Developer at FSI (FM Solutions) Limited</h4>
        <p>(4 years, August 2006-present)
        
        <p><strong>Front-end development (JavaScript and jQuery):</strong> As soon as we
        started developing our new web-based product, I started using my web-related
        development skills again. As well as advising the team on general web
        development best practices and principles, I also developed two rich client-side
        modules for the new product. 
        
        <p>The first was a tool for scheduling planned maintenance which replaced an
        existing effort based on whole-page refreshes and enormous ASP.Net view states.
        The replacement was lightweight, fast, and loaded everything asynchronously.
        
        <p>The second was a calendaring app for assigning work to engineers. The
        look-and-feel was inspired by Google calendar, and included the ability to drag
        “appointments” to reschedule or even reassign them. This module was described as
        “one of the best products we’ve ever had” by a director.
        
        <p><strong>Graphic design:</strong> I created a library of more than 500
        distinct icons for FSI’s products. This included a “language” of reusable
        symbols for nouns (asset, task, invoice etc.) and verbs (add, remove, edit,
        assign, accept, reject etc.)
        
        <p>I also created several branded visual themes (skins) for our legacy web-based
        product, which was a self-service portal for room booking and fault reporting.
        
        <p><strong>Technical writing:</strong> I was originally hired as a technical
        writer. I wrote end-user documentation for several new products.
        
        <h3>Previously</h3>
        
        <h4>Sabbatical</h4>
        <p>(8 months, December 2005 – July 2006)
        
        <p>I took a break after leaving Newtel Solutions to find a new direction and
        work on some personal projects.
        
        <h4>Technical Adviser at Newtel Solutions Limited</h4>
        <p>(6 months, June 2005 – November 2005)
        
        <h4>Director at Guernsey.Net Limited</h4>
        <p>(4 years, July 2001 – June 2005)
        
        <h4>System administrator at Guernsey.Net Limited</h4>
        <p>(18 months, February 2000 – July 2001)
        
        <p>I joined Guernsey.Net, a fledgling independent ISP in Guernsey, in February
        2000. After 18 months, the board of directors underwent a reorganisation and I
        was asked to join the new board. We grew the company for 4 years, and then sold
        it to a cable television company called Newtel Solutions. I remained at Newtel
        for 6 months while handing over all the technical operations.
        
        <p><strong>Growing the company:</strong> we went from a “broom cupboard” server
        room to building our own brand new dedicated data centre with capacity for 200
        racks.
        
        <p><strong>Adding and maintaining services:</strong> We offered web, domain, and
        email hosting, with a customisable webmail interface; dialup, ISDN, broadband,
        and leased line connections. I did about half the work in implementing new
        features, and had the final technical responsibility for the web and DNS
        offerings. These were all running on Red Hat Linux servers, using Apache,
        Postfix, BIND9 and other software.
        
        <p><strong>Supporting other technical staff:</strong> I was top-level technical
        support for our customer support team, answering and solving problems about web
        hosting, DNS, email forwarding, and just about everything else. Our web design
        team came to me with technical questions about hosting, databases and
        programming. They were using Macromedia ColdFusion and PHP.
        
        <p><strong>Development:</strong> I wrote all the infrastructure and provisioning
        automation software in Perl. There were also apps used by the staff which were
        either desktop apps written in Java or web apps written in PHP or Perl.
        
        <h3>Education</h3>
        
        <h4>M.Sc. with distinction, Computer Science (University of Wales)</h4>
        <p>(1 year, August 1998 – September 1999)
        
        <h4>B.Sc. (Honours) Genetics (University of Wales)</h4>
        <p>(3 years, September 1995 – July 1998)
        
        <h3>Other Interests</h3>
        <p>Programming, design, photography, cookery, gaming
        
        <h3>Availability</h3>
        <p>One month notice, possibly negotiable.
        </div>
    </div>
</div>
<!---->
{% endblock %}

