{% extends "boilerplate.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/colours.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/layout.css">
{% endblock %}


{% block header %}
    <div class="left-stripe"><!----></div>
    <img id="i-am-neil-de-carteret" src="/static/images/i-am-neil-de-carteret.png" alt="I am Neil de Carteret">
    <nav id="super-links">
        <ul>
            <li>Home
            <li>Contact
            <li>Blog
            <li>GitHub
        </ul>
    </nav>

{% endblock %}

{% block main %}Stormcrayon main{% endblock %}

{% block footer %}Stormcrayon footer{% endblock %}
