{% extends "boilerplate.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/colours.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" media="only screen and (min-width: 601px)" href="/static/css/large.css">
    <link rel="stylesheet" media="only screen and (max-width: 600px)" href="/static/css/small.css?v=1">

    
    <style type="text/css">
    html { background-color: red; }
    @media only all { html { background-color: green; } }
    </style>

    <script type="text/javascript">
    {%include "grodyquery-part-one.js"%}    
    </script>
    
    <style type="text/css">
    html { background-color: white; }
    </style>
    
{% endblock %}



{% block header %}
    <div class="left-stripe"><!----></div>
    <img id="i-am-neil-de-carteret" src="/static/images/i-am-neil-de-carteret.png" alt="I am Neil de Carteret">
    <nav id="super-links">
        <ul>
            <li><a href="">Home</a>
            <li>|
            <li><a href="">Contact</a>
            <li>|
            <li><a href="">Blog</a>
            <li>|
            <li><a href="">GitHub</a>
        </ul>
    </nav>
{% endblock %}

{% block main %}Stormcrayon main{% endblock %}

{% block footer %}Stormcrayon footer{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/grodyquery-part-two.js?v=1"></script>
{% endblock %}
